body
{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:rgb(0, 0, 0);

}
.outline
{   
    width:600px;
    height:700px;
    border: 2px solid black;
    border-radius:100px;
    display:flex;
    flex-direction:column;
    padding:50px;
    gap:100px;
    background-color:rgb(3, 65, 158);
}
.screen
{
    height:200px;
    border:5px solid orangered;
    background-color: rgb(172, 241, 219);
    border-radius: 30px;
    font-size:50px;
    display:flex;
    flex-direction: column;
}
.screen>div
{
    height:100px;
    background-color: rgb(172, 241, 219);
    border-radius: 30px;
    font-size:50px;
    display:flex;
    flex-direction: row-reverse;
    align-items:flex-end;
}
.input-panel
{   
    display:flex;
    height:400px;
}
.digits
{
    width:400px;
    display:flex;
    flex-wrap:wrap;
    margin-right:5px;
    
}
.digit
{
    width:28%;
    border: 1px solid yellow;
    border-radius:50px;
    font-size:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:5px 2px;
    color:aliceblue;
    box-shadow: 10px 10px 5px #aaaaaa;

}
.operators
{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    width:200px;
}
.operator
{
    height:18%;
    border: 2px solid yellow;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:40px;
    font-size:40px;
    color:aliceblue;
    
}
.digit:hover
{

}