body
{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-image:linear-gradient(to bottom,rgb(238, 103, 209),rgb(230, 190, 106));
    margin:0;

}
.header
{   
    font-size:80px;
    color:rgb(247, 247, 247);
    display:flex;
    justify-content:center;
    height:10%;
}
.functionality
{
    display:flex;
    height:75px;
    justify-content: space-around;
}
.functionality>div
{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:25px;
    width:30%;
    background-color: rgb(218, 241, 111);
    border-radius: 25px;

}
div.delete
{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(236, 94, 94);
    font-size:35px;

}
.footer
{
    flex:0;
    font-size:40px;
    color:rgb(153, 57, 57);
    display:flex;
    justify-content:center;
    align-items:center;
    height:15%;
    background-color: pink;
    gap:20px;
    padding:10px;
}
.outline
{   
    width:400px;
    height:550px;
    border: 2px solid black;
    border-radius:100px;
    display:flex;
    flex-direction:column;
    padding:50px;
    gap:20px;
    background-color:rgb(65, 154, 236);
    border: 10px solid rgb(165, 78, 192);
    align-self:center;
}
.screen
{
    height:150px;
    border:5px solid orangered;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    font-size:50px;
    display:flex;
    flex-direction: column;
}
.screen>div
{
    height:75px;
    border-radius: 30px;
    font-size:50px;
    display:flex;
    flex-direction: row-reverse;
    align-items:flex-end;
}
.input-panel
{   
    display:flex;
    height:300px;
}
.digits
{
    width:400px;
    display:flex;
    flex-wrap:wrap;
    margin-right:5px;
    
}
.digit
{
    width:28%;
    border: 3px solid yellow;
    border-radius:50px;
    font-size:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:5px 2px;
    color:aliceblue;
    transition:all 0.2s ease;
}
.operators
{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    width:200px;
    gap:2px;
}
.operator
{
    height:15%;
    border: 3px solid yellow;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:40px;
    font-size:40px;
    color:aliceblue;
    transition:all 0.2s ease;
    
}
.digit:hover,.operator:hover
{
   transform:scale(0.9);
}
img
{
  height:45px;
  width:45px;
  transition:all 0.4s ease;
  border-radius:20px;
}
img:hover
{  
    transform:rotate(360deg);
}
a
{
    height:45px;
}